@charset "utf-8";
/* CSS Document */

body{background-color:#CCC; font-size:100%;}
h1{text-align:center; font-family:"Courier New", Courier, monospace; font-size:2.5em; text-indent:-9%;}
p.main{text-indent:25px;}
div.leftbar {text-align:left; color:white; font-family:"Courier New", Courier, monospace; font-size:1.2em;}
a:link {text-decoration:none; color:white;}
a:visited {text-decoration:none; color:white}

a.extLink:link, a.extLink:visited
{
    display : block;
    margin-bottom: 10px;
    text-decoration:none;
    width:100%;
    line-height:30px;
    vertical-align: middle;
    text-align:left;
    text-indent: 2%;
    border : 1px solid #999999;
    background-color:#999999;
    color:#FFF
    -moz-border-radius: 10px;
    border-radius: 10px;
 
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a.page:link, a.page:visited
{
	background-color:#666;
	border : 1px solid #666;
}

a.Home:hover
{
	background-color:#FC0;
	border : 1px solid #FC0;
}

a.Blog:hover
{
	background-color:#006600;
	border : 1px solid #006600;
}

a.Facebook:hover
{
	background-color:#000099;
	border : 1px solid #000099;
}

a.Google:hover
{
	background-color:#990000;
	border : 1px solid #990000;
}

a.Twitter:hover
{
	background-color:#0066FF;
	border : 1px solid #0066FF;
}

a.Mail:hover
{
	background-color:#C60;
	border : 1px solid #C60;
}
